/* Tumma tila - tyylit */
body.dark-mode {
  background-color: #121212;
  color: white;
}
.navbar.dark-mode {
  background-color: #222 !important;
}
.card.dark-mode {
  background-color: #333;
  color: white;
}
